<DOCTYPE! html>
<html>
<head>
	<title>Microblog</title>
</head>
<body>
	<header>
		
		<nav>
			<a><h1>MicroBlog</h1></a>
			<a>posts</a>
			<a>tags</a>
			<a>authors</a>
		</nav>
	</header>
	<div id="container">
		<%= %>
	</div>
</body>
</html>