<div class="large_post_box">
	<h3>Sign Up</h3>
	<form action="/authors" method="post">

		<br><label for="name">Name:<br/>
			<input type="text" name="author[name]">
		</label><br>

		<br><label for="img_url">Portrait:<br/>
			<input type="text" name="author[img_url]">
		</label><br>

		<br><label for="bio">Bio:<br/>
			<input type="text" name="author[bio]">
		</label><br>

		<br><label for="location">Location:<br/>
			<input type="text" name="author[location]">
		</label><br>

		<button>SUBMIT</button>
	</form>
</div>